<h1>Welcome to Tarot for Today</h1>

<img src="deck.jpg" alt="deck_of_card" class="banner">

<div>Get your daily prediction with just one click!</div>

<div>Are you ready to draw your card?</div>

<form action="/prediction" method="get" class="buttons">
  <button type="submit">Draw a Card</button>
</form>
