<h1>Welcome to Tarot for Today</h1>

<img src="another_deck.jpg" alt="deck_of_card">

<div> Here you can get your daily prediction just by clicking a button</div>

<div> Are you ready to draw a card?</div>

<form action="/prediction" method="get">
  <button type="submit">Draw a card</button>
</form>
