body {
  font-family: 'Georgia', serif;
  background-color: #121212;
  color: #f3f3f3;
  text-align: center;
  padding: 40px;
}

h1, h2 {
  color: #e0b3ff;
}

img {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  margin: 20px 0;
}

div {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #ccc;
}

.banner {
  display: block;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

button {
  background-color: #e0b3ff;  /* Light purple background */
  color: white;               /* White text */
  font-size: 1.2em;           /* Slightly larger text */
  padding: 15px 30px;         /* Add space around the text */
  border: none;               /* Remove default border */
  border-radius: 10px;        /* Rounded corners */
  cursor: pointer;            /* Change cursor to pointer */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
}
